{% extends 'layout/main.html' %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="jumbotron">
  <form method="post" class="form">
    <h3 class="form-heading">Register</h3>
    {{ form.name(class_ = 'form-control first-input', placeholder = form.name.label.text, required = true, autofocus = true) }}
    {{ form.password(class_ = 'form-control', placeholder = form.password.label.text, required = true) }}
    {{ form.confirm(class_ = 'form-control last-input', placeholder = form.confirm.label.text, required = true) }}
    <p class="pull-left"><a href="{{ url_for('login') }}" class="btn">Login</a></p>
    <input type="submit" value="Register" class="btn btn-primary btn-lg btn-block">
  </form>
  </div>
{% endblock %}
